@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Microgramma;
  src: url(./fonts/Microgramma-D-OT-Bold-Extended.ttf);
}

* {
  font-family: Microgramma;
}

button, a {
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
  letter-spacing: 0.06em;
  color: #aaaaaa;
  transition: all 500ms;
}

.greenhov:hover, .greenhov:hover, button.greenhov.active, a.greenhov.active {
  color: #3bab07;
  text-shadow: rgba(255,255,255,0.5) 0px 6px 3px;
}

.bluehov:hover, .bluehov:hover, button.bluehov.active, a.bluehov.active {
  color: #0798ab;
  text-shadow: rgba(255,255,255,0.5) 0px 6px 3px;
}

redhov:hover, redhov:hover, button.redhov.active, a.redhov.active {
  color: #ab0707;
  text-shadow: rgba(255,255,255,0.5) 0px 6px 3px;
}

.title {
  /* color: #222222;
  text-shadow: 0px 4px 4px #fff, 0 0 0 #000, 0px 4px 4px #fff; */
  letter-spacing: 0.06em;
  /* text-shadow: rgba(255,255,255,0.6) 0px 2px 2px; */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  position: relative;
}

p {
  font-family: var(--font-mono);
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: #080808;
  overflow-x: hidden;
}

::-moz-selection { /* Code for Firefox */
  background: #3bab07;
  color: transparent;
  text-shadow: rgba(255,255,255,0.5) 0px 6px 3px;
  color: rgba(0, 0, 0, 0.5);
}

::selection {
  background: #3bab07;
  color: rgba(0, 0, 0, 1.0);
  text-shadow: rgba(255,255,255,0.5) 0px 2px 4px;
  color: rgba(0, 0, 0, 0.0);
}

.textoutline {
  color: #080808;
  background-color: #080808;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  transition: all 500ms;
}

.clickable.textoutline:hover   {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 3px 0 white, 1px 3px 0 white;
  transform: translateY(-2px);

}

.textoutline.green {
  color: #080808;
  background-color: #080808;
  text-shadow: -1px -1px 0 #369d06, 1px -1px 0 #369d06, -1px 1px 0 #369d06, 1px 1px 0 #369d06;
}

.clickable.textoutline.green:hover, .textoutline.green.active {
  transform: translateY(-2px);
  text-shadow: -1px -1px 0 #369d06, 1px -1px 0 #369d06, -1px 3px 0 #369d06, 1px 3px 0 #369d06;
}

.textoutline.blue {
  color: #080808;
  background-color: #080808;
  text-shadow: -1px -1px 0 #078b9d, 1px -1px 0 #078b9d, -1px 1px 0 #078b9d, 1px 1px 0 #078b9d;
}

.clickable.textoutline.blue:hover, .textoutline.blue.active {
  transform: translateY(-2px);
  text-shadow: -1px -1px 0 #078b9d, 1px -1px 0 #078b9d, -1px 3px 0 #078b9d, 1px 3px 0 #078b9d;
}

.textoutline.red {
  transition: all 500ms;
  color: #080808;
  background-color: #080808;
  text-shadow: -1px -1px 0 #d31f08, 1px -1px 0 #d31f08, -1px 1px 0 #d31f08, 1px 1px 0 #d31f08;
}

.clickable.textoutline.red:hover, .textoutline.red.active {
  transform: translateY(-2px);
  text-shadow: -1px -1px 0 #d31f08, 1px -1px 0 #d31f08, -1px 3px 0 #d31f08, 1px 3px 0 #d31f08;
}


.inputoutline {
  transition: all 500ms;
  box-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  outline: none;
}

.inputoutline:hover, .inputoutline:focus-within {
  transform: translateY(-2px);  
  box-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 5px 0 white, 1px 5px 0 white;
}

.inputoutline.green {
  transition: all 500ms;
  box-shadow: -1px -1px 0 #369d06, 1px -1px 0 #369d06, -1px 1px 0 #369d06, 1px 1px 0 #369d06;
  outline: none;
}

.inputoutline:hover.green, .inputoutline:focus-within.green {
  transform: translateY(-2px);  
  box-shadow: -1px -1px 0 #369d06, 1px -1px 0 #369d06, -1px 5px 0 #369d06, 1px 5px 0 #369d06;
}

.inputoutline.lg:hover.green, .inputoutline.lg:focus-within.green {
  transform: translateY(-2px);  
  box-shadow: -1px -1px 0 #369d06, 1px -1px 0 #369d06, -1px 25px 0 #369d06, 1px 8px 0 #369d06;
}

.inputoutline.red {
  transition: all 500ms;
  box-shadow: -1px -1px 0 #d31f08, 1px -1px 0 #d31f08, -1px 1px 0 #d31f08, 1px 1px 0 #d31f08;
  outline: none;
}

.inputoutline:hover.red, .inputoutline:focus-within.red {
  transform: translateY(-2px);  
  box-shadow: -1px -1px 0 #d31f08, 1px -1px 0 #d31f08, -1px 5px 0 #d31f08, 1px 5px 0 #d31f08;
}

.inputoutline.blue {
  transition: all 500ms;
  box-shadow: -1px -1px 0 #078b9d, 1px -1px 0 #078b9d, -1px 1px 0 #078b9d, 1px 1px 0 #078b9d;
  outline: none;
}

.inputoutline:hover.blue, .inputoutline:focus-within.blue {
  transform: translateY(-2px);  
  box-shadow: -1px -1px 0 #078b9d, 1px -1px 0 #078b9d, -1px 5px 0 #078b9d, 1px 5px 0 #078b9d;
}